@font-face {
    font-family: 'Cambai';
    src: url('../../assets/fonts/CambaiMinimalist-3zeJ6.ttf');
}

@font-face {
    font-family: 'Hippie';
    src: url('../../assets/fonts/MantanaRegular-BWgVG.otf');
}

