@use 'root' as *;
@use '../abstracts/' as *;

*,
*::before,
*::after {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul {
    margin: 0;
    padding: 0;
}

h1 {
    font-family: var(--ff-hippie);
}

body {
    font-family: var(--ff-montserrat);
    background-color: hsl(var(--clr-white) / 1);
    line-height: 1.5;
    min-height: 100vh;
    overflow-x: hidden;
};

html {
    font-size: 87.5%;  // 1rem = 14px

    @include mq(large) {
        font-size: 100%; // 1rem = 16px;
    }
}

img, 
picture {
    max-width: 100%;
    max-height: 100%;
    display: block;
    object-fit: cover;
};

input, button, textarea, select {
    font: inherit;
};

a {
    text-decoration: none;
};

section {
    width: 100%;
}

button {
    cursor: pointer;
};

ul {
    list-style-type: none;
}