@use '../abstracts' as *;

.searchBar {
    @include flex($justify: space-between, $align: stretch, $direction: column);
    border: 1px solid hsl(var(--clr-black) / .2);
    border-radius: 32px;
    width: 90vw;
    background: hsl(var(--clr-white) / 0.3);
    box-shadow: 0px 0px 19px 5px hsl(var(--clr-black) / 0.3);
    z-index: 100;
    position: relative;
    overflow: hidden;


    @include mq(large) {
        @include flex($justify: space-between, $align: stretch);
        width: min(95vw, 800px);
        height: 8vh;
    };
    
    &__button:not(.searchBar__button--active):hover,
    &__button:focus,
    &__submit-button:focus,
    &__submit-button:hover {
        background-color: hsl(var(--clr-white) / 0.267);
        box-shadow: 0px 0px 19px 5px hsl(var(--clr-black) / 0.2);

        &::after {
            display: none;
        } 
    }

    &:has(.searchBar__button--calendar:hover) > .searchBar__button--destination,
    &:has(.searchBar__button--calendar.searchBar__button--active) > .searchBar__button--destination,
    &:has(.searchBar__button--counter:hover) > .searchBar__button--calendar,
    &:has(.searchBar__button--counter.searchBar__button--active) > .searchBar__button--calendar
    {
        &::after {
            display: none;
        } 
    }

    &__submit-button {
        @include flex($gap: 3vw);
        background-color: hsl(var(--clr-red) / 1);
        border: none;
        cursor: pointer;
        color: hsl(var(--clr-white) / 1);
        font-family: var(--ff-cambai);
        font-size: 1rem;
        padding-block: 1vh;
        position: relative;
        
        @include mq(large) {
            border-radius: 32px;
            background-color: transparent;

            &::after,
            &::before {
                display: none;
            }
        }

        &::after,
        &::before {
            content: '';
            position: absolute;
            bottom: 100%;
            width: 64px;
            height: 64px;
            border-radius: 50%;
            background-color: transparent;
        }
        &::before {
            left: 0;
            box-shadow: -32px 32px 0px 0px hsl(var(--clr-red) / 1);
        }

        &::after {
            right: 0;
            box-shadow: 32px 32px 0px 0px hsl(var(--clr-red) / 1);
        }
    }

    &__search-icon {
        color: white;
        width: 26px;
        height: auto;
        border-radius: 50%;
        box-shadow: 0px 1rem 1.5rem 0px hsl(var(--clr-black) / 0.5);
    }

    &__button {
        @include flex($direction: column);
        cursor: pointer;
        background-color: transparent;
        width: 100%;
        border: none;
        font-size: 1rem;
        padding-block: 1.5vh;
        border-radius: 32px;

        &:first-child {
            padding-top: 3vh;
        }

        @include mq(large) {
            align-items: flex-start;
            padding-left: 2em;
        }
        

        position: relative;

        &--active {
            background-color: hsl(0 0% 100% / 0.5);
            box-shadow: 0px 0px 19px 5px hsl(var(--clr-black) / 0.3);
    
            &::after {
                display: none;
            } 
        }

        &:not(:nth-child(3))::after {
            position: absolute;
            bottom: 0;
            height: 1px;
            width: 80%;
            content: '';
            background-color: hsl(var(--clr-black) / .322);
            border-radius: 40px;

            @include mq(large) {
                height: 25px;
                width: 1px;
                left: 100%;
            }
        }        
    }

    &__input {
        // white-space: nowrap;
        // overflow: hidden;
        // text-overflow: ellipsis;
        text-align: center;
        width: 90%;
        font-family: var(--ff-montserrat);
        background-color: transparent;
        border: none;
        outline: none;

        &::placeholder {
            color: hsl(var(--clr-black) / 1);
        }

        @include mq(large) {
            text-align: left;
        }
    }

    &__label {
        font-family: var(--ff-cambai);
        font-weight: 900;
    }
}

@supports (backdrop-filter: blur(1rem)) {
    .searchBar {
        background-color: hsl(var(--clr-white) / 0.2)!important;
        backdrop-filter: blur(1rem);
    }
}